# Gmail config
# sender's your gmail address
GMAIL_USER=your-email@gmail.com

# Gmail app password 16 digit
GMAIL_APP_PASSWORD=your-16-character-app-password

# sender name
GMAIL_FROM_NAME=我的邮件发送器

# recipient
TEST_RECIPIENT_EMAIL=recipient@example.com
TEST_SUBJECT=test
TEST_CONTENT=content

